<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secret Word</title>
</head>
<body>
    <%- include("partials/head.ejs") %>
    <%- include("partials/header.ejs") %>

    <p>The secret word is: <%= secretWord %></p>
    <p>Would you like to change it?</p>
    <form action="/secretWord" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label for="secretWord">New Secret Word:</label>
      <input id="secretWord" name="secretWord" /><br />
      <button>Submit</button>
    </form>

    <%- include("partials/footer.ejs") %>
</body>
</html>
